@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Changa", serif;
}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    overflow: hidden;
}

span {
    color: blueviolet;
    position: relative;
}

img {
    position: absolute;
    top: 32%;
    right: 45%;

}

.container {
    position: relative;
    max-width: 400px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.btnn {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 65%;
    right: 45%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 89, 206);
    color: white;
    border-radius: 3em;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .btnn {
        right: 40%;
    }
}

.btnn:hover {
    background-color: rgb(53, 89, 206);
    color: white;
    transform: scale(1.1) translateY(-5px);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    margin: 0;
}


/* media */

/* شاشات كبيرة  - أكبر من 1024 */
@media (min-width: 1024px) {}



/* شاشات متوسطة  - بين 768 و1024 */
@media (min-width: 768px) and (max-width: 1024px) {}



/* شاشات صغيرة  - أقل من 768 */
@media (max-width: 768px) {}